.chat-container .conversation-header {
  height: 64px;
  line-height: 64px;
  text-align: center;
  border-bottom: 1px solid #dbdbdb;
  font-size: 24px;
}
.chat-container {
  height: 100vh;
}
.chat-container .main{
  height: calc(100% - 64px);
  display: flex;
}
.chat-container .main .conversation-detail{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 85%;
}
.conversation-detail .list-messages{
  flex-grow: 1;
}
#send-message-form .input-wrapper input{
  border: none;
  border-top: 1px solid #dbdbdb;
  height: 64px;
}
#send-message-form {
  position: relative;
}
#send-message-form button{
  position: absolute;
  right: 15px;
  top: 20px;
  border: none;
  background: none;
  color: #037BFE;
  font-size: 24px;
}
#send-message-form .input-wrapper{
  margin-bottom: 0;
}
.chat-container .list-messages{
  padding: 10px;
  overflow-y: auto;
}
.chat-container .list-messages .message-container{
  margin-bottom: 10px;
}
.chat-container .message-container .content{
  padding: 7px 10px;
  border-radius: 5px;
  max-width: 40%;
  width: max-content;
  word-break: break-all;
}
.chat-container .message-container.their .content{
  background: #dadbdb;
}
.chat-container .message-container.mine .content{
  background: #037BFE;
  color: #fff;
}
.chat-container .message-container.mine{
  display: flex;
  justify-content: flex-end;
}
.chat-container .aside-left{
  width: 15%;
  height: 100%;
  border-right: 1px solid #dbdbdb;
}
.chat-container .create-conversation{
  height: 64px;
  line-height: 64px;
  border-bottom: 1px solid #dbdbdb;
  text-align: center;
}
.chat-container .list-conversations .conversation{
  padding: 5px 10px;
  position: relative;
}
.chat-container .conversation .notification {
  width: 15px;
  height: 15px;
  background: #027bfd;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 13px;
  display: none;
}
.chat-container .list-conversations .conversation.current{
  background-color: #dbdbdb;
}
.chat-container .aside-right{
  padding: 10px;
  border-left: 1px solid #dbdbdb;
  width: 13%;
}
.chat-container .aside-right .user{
  overflow: hidden;
  text-overflow: ellipsis;
}
.chat-container #add-user-form{
  margin-top: 12px;
}
@media screen and (max-width : 768px) {
  .aside-right{
    display: none;
  }
  .conversation-num-user  {
    display: none;
  }
  .chat-container .list-conversations .conversation{
    border-radius: 50%;
    border: 1px solid #dbdbdb;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .conversation .notification {
    top: 23px;
    right: 5px;
    
  } 

}